body {
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

.main-container {
  background-color: hsl(189, 41%, 97%);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 7% 15%;
  padding: 2rem;
}

/* user row */
.user-row {
  width: 50%;
  vertical-align: middle;
  padding: 0 2rem 0 0;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

.people-count p {
  margin-bottom: 7px;
}

.main-tip {
  display: flex;
  justify-content: space-between;
}

.tip-button {
  width: 30%;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-weight: 700;
}

.tip-input {
  position: none;
  width: 30%;
  padding: 0.6rem 1rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: hsl(185, 41%, 84%);
  color: hsl(59, 100%, 50%);
  border: none;
  border-radius: 0.25rem;
}

.user-input {
  font-size: 24px;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  text-align: right;
  border: none;
}

.tip-input::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
}

/* .user-input:empty::after {
  background-color: red;
}

.user-input::after {
  background-color: purple;
} */

/* checkout row */
.checkout-row {
  border-radius: 20px;
  background-color: hsl(183, 100%, 15%);
  padding: 2rem;
  width: 50%;
}

.cash-out {
  display: flex;
  justify-content: space-between;
  color: hsl(189, 41%, 97%);
}

.reset-button {
  font-weight: 700;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  margin-top: 8rem;
}

.price {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 2rem;
}

.price-divided {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(185, 41%, 84%);
}

.cash-out p {
  font-weight: 700;
}

::placeholder {
  color: red; /*hsl(186, 14%, 43%); */
  opacity: 1;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile */
